/*body {background-color: #B3B3B3}*/
h1 {font-weight: bold; text-align: center; line-height: 30pt;}
a:link              { color:#7D9EC0; text-decoration:underline; }
a:visited           { color:#8B2500; text-decoration:underline; }
a:hover             { color:green; text-decoration:underline; }
a:active            { color:#000080; text-decoration:underline; }

/*a.otherLink:link    { color:red; text-decoration:none; }
a.otherLink:visited { color:red; text-decoration:none; }
a.otherLink:hover   { color:green; text-decoration:underline; }
a.otherLink:active  { color:red; text-decoration:none; }*/

.goto              { color:#7D9EC0; text-decoration:underline; }
.topBar {color: white; font-family: Tahoma; font-size: 14pt; margin: 10pt}
.disclaimer {font-size: 12pt; color: gray; font-family: Times; margin: 20pt}
.green {background-color: green}
.blue {background-color: blue}
.menu {font-weight: bold; color: white; font-size: 16pt; font-family: Tahoma; line-height: 30pt; padding: 20pt }
.goheading {font-weight: bold; color: black; font-size: 48pt; font-family: Tahoma; text-align: center; line-height: 48pt; padding: 20 }
.gominiheading {font-weight: bold; color: gray; font-size: 20pt; font-family: Tahoma; text-align: center; line-height: 30pt}

.gosubheading {font-weight: bold; color: black; font-size: 30pt; font-family: italics; text-align: center; line-height: 30pt; padding: 10pt}

.gocontent {font-family: Tahoma;  font-size: 16pt; margin:10pt; line-height: 26pt; color: dark-gray}


/*.hiMenuItem {background-color: black; font-weight: bold; color: red; font-size: 20pt; font-family: monospace }*/

.hiMenuItem {color: red}
.content {font-family: sans-serif; font-size: 13pt; margin:10pt; padding: 20pt; line-height: 20pt}
.tableLining {background-color: #333333}
